<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-left">
                <ul>
                    <li><a href="/"><img src="{{ url_for('static', path='img/home.jpg') }}" alt="Home" class="nav-icon"></a></li>
                    <li><a href="/auctions">Auction</a></li>
                    <li><a href="/forsale">For Sale</a></li>
                </ul>
            </div>
            <div class="navbar-right">
                <ul>
                    <li><a href="/addlisting">Add Listing</a></li>
                    <li><a href="/profile"><img src="{{ url_for('static', path='img/profile.webp') }}" alt="Profile" class="nav-profile"></a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
